*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 100px;
    cursor: pointer;
    margin-left: 20px;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image:
    linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.8)), url("img/DanielCaesar.jpg");
    background-size: cover;
    background-position: center;
}

.content{
    padding: 10px 8%;
    margin-top: 14%;
    color: #fff;
    max-width: 620x;
}

.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85%;
    margin-bottom: 25px;
}

footer{
    width: 100%;
    
    bottom: 0;
    background: linear-gradient(to right, #121212, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

/*  TABLES */

.albums{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table{
    width: 82vw;
    height: 90vh;
    background-color: #141414bf;
    color: #f5f5f5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table_header{
    width: 100%;
    height: 10%;
    background-color: #2d0b00cc;
    padding: .8rem 1rem;
    color: #ffffff;
}

.table_body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #191919d9;
    color: #fff;

    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: .0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table{
    width: 100%;
}

td img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td{
    border-collapse: collapse;
    padding: 1rem;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #3c140af2;
}

tbody tr:nth-child(){
    background-color: #ffffff0d;
}

tbody tr:hover{
    background-color: #ffffff1f;
}